/* deux police uniquement  playfair display et merriweather */
@import "tailwindcss";

/* il ny aura qu'un seul theme le light ( melange des fois au dark ) */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --brown: #5C3A21;
  --black: #1C1C1C;
  --gold: #D4AF37;
  --beige:#F5F1E6;
  --light: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-merriweather);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
